#tudo {
    width: 1200px;
}

header {
    width: 600px;
    height: 200px;
    background-color: blue;
}

nav {
    width: 600px;
    height: 200px;
}

main {
    width: 1150px;
    height: 500px;
}

section {
    width: 350px;
    height: 500px;
}

footer{
    width: 1100px;
    height: 200px;
    background-color: yellow;
}