header {
    width: 51.5%;
    height: 100px;
    background-color: gray;
    float: left;
    display: inline-block;
}

main {
    margin-top: 20px;
    width: 25%;
    height: 700px;
    background-color: gray;
    float: left;
    display: inline-block;
    clear: left;
}

#main2 {
    margin-top: 20px;
    width: 25%;
    height: 700px;
    background-color: gray;
    float: left;
    display: inline-block;
    margin-left: 20px;
    clear: right;
}

aside {
    margin-left: 20px;
    width: 20%;
    height: 700px;
    background-color: gray;
    display: inline-block;

}