body {
    /*background-image: url(../img/geometry_dash_background.jpg);*/
}

#local1 {
    width: 100%;
    height: 250px;
    background-image: url(../img/geometry_dash_background.jpg);
}

#local2 {
    width: 100%;
    height: 280px;
    background-image: url(../img/geometry_dash_background_purple.jpg);
}

#obstaculo1 {
    width: 30px;
    height: 60px;
    background: linear-gradient(black, blue);
    margin-left: 400px;
    display: inline-block;
}
#obstaculo2 {
    width: 30px;
    height: 150px;
    background: linear-gradient(black, blue);
    margin-left: 100px;
    display: inline-block;
}
#obstaculo3 {
    width: 30px;
    height: 100px;
    background: linear-gradient(black, blue);
    margin-left: 200px;
    display: inline-block;
}

#portal1 {
    width: 60px;
    height: 150px;
    margin-top: 60px;
    background: linear-gradient(90deg, darkblue, blue, blueviolet);
    border-left: solid greenyellow 7px;
    margin-left: 350px;
    display: inline-block;
    position: absolute
    
}

/*AREA 2*/

#obstaculo4{
    width: 30px;
    height: 80px;
    background: linear-gradient(purple, black );
    margin-left: 200px;
    display: inline-block;
    position: absolute;
    float: left;
}

#obstaculo5{
    width: 30px;
    height: 80px;
    background: linear-gradient(black, purple);
    margin-left: 200px;
    display: inline-block;
    margin-top: 200px;
    position: absolute;
}

#obstaculo6{
    width: 30px;
    height: 140px;
    background: linear-gradient(purple, black);
    margin-left: 500px;
    display: inline-block;
    position: absolute;
}

#obstaculo7{
    width: 30px;
    height: 70px;
    background: linear-gradient(black, purple);
    margin-left: 500px;
    margin-top: 220px;
    display: inline-block;
    position: absolute;
}

#obstaculo8{
    width: 30px;
    height: 25px;
    background: linear-gradient(purple, black);
    margin-left: 650px;
    display: inline-block;
    position: absolute;
}

#obstaculo9{
    width: 30px;
    height: 180px;
    background: linear-gradient(black, purple);
    margin-left: 650px;
    margin-top: 100px;
    display: inline-block;
    position: absolute;
    
}

#obstaculo10{
    width: 30px;
    height: 185px;
    background: linear-gradient(purple, black);
    margin-left: 850px;
    display: inline-block;
    position: absolute;
}


#obstaculo11{
    width: 30px;
    height: 30px;
    background: linear-gradient(black, purple);
    margin-left: 850px;
    margin-top: 250px;
    display: inline-block;
    position: absolute;
}

/*******AAAAAAA********/
#portal2 {
    width: 100px;
    height: 150px;
    margin-top: 50px;
    background: linear-gradient(90deg, yellowgreen, purple);
    border-right: solid darkblue 7px;
    display: inline-block;
    position: absolute;
}

#portal3 {
    width: 100px;
    height: 150px;
    margin-top: 60px;
    background: linear-gradient(90deg, purple, yellowgreen) ;
    border-left: darkblue solid 7px;
    margin-left: 1170px;
    display: inline-block;
    position: absolute
}   


#linha1 {
    width: 100%;
    height: 20px;
    background-color: blue;
}

#linha2 {
    width: 100%;
    height: 20px;
    background-color: purple;
    border-top: black solid 1px;
    /*margin-top: 300px;*/
}

#caixa {
    width: 40px;
    height: 40px;
    background-color: yellow;
    display: inline-block;
    border: black solid 1px;
    margin-top: 200px;
    animation-name: run;
    animation-duration: 5s;
    animation-timing-function: steps(60);
}

#eyes1 {
    width: 5px;
    height: 10px;
    background-color: aqua;
    border: black solid 1px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 8px;
}

#eyes2 {
    width: 5px;
    height: 10px;
    background-color: aqua;
    border: black solid 1px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 8px;
}

#mouth {
    width: 20px; 
    height: 5px;
    background-color: aqua;
    border: black solid 1px;
    clear: both;
    margin-top: 25px;
    margin-left: 9px;
}

#caixa2 {
    width: 40px;
    height: 40px;
    background-color: yellow;
    display: inline-block;
    border: black solid 1px;
    margin-top: 200px;
    animation-name: run2;
    animation-duration: 6s;
    animation-timing-function: steps(60);
}

#spaceship {
    width: 70px;
    height: 15px;
    background: linear-gradient(90deg, orangered , yellow, greenyellow)
}

/*
@keyframes run{
    0%{
        transform: translate(0px, 0px);
    }
    
    5%{
        transform: translate(370px , 0px);    
    }

    10%{
        transform: translate(430px , -70px);
    }

    15%{
        transform: translate(450px , -60px);
    }

    20%{
        transform: translate(550px , -160px);
    }

    25%{
        transform: translate(600px , -150px);
    }

    30%{
        transform: translate(660px , -170px);
    }

    35%{
        transform: translate(700px , -150px);
    }

    40%{
        transform: translate(800px , -100px);
    }

    45%{
        transform: translate(840px , -120px);
    }

    50%{
        transform: translate(950px , 0px);
    }

    55%{
        transform: translate(1200px , -100px);
    }

    100%{
        transform:  translate(1200px , -100px);
    }

}

@keyframes run2{
    0%{
        transform: translate(60px , -70px);
    }

    55%{
            transform: translate(60px , -70px)    
    }

    60%{
        transform: translate(300px , -65px);
    }

    65%{
        transform: translate(400px , -40px);
    }

    70%{
        transform: translate(510px , -30px);
    }

    75%{
        transform: translate(600px , -30px)
    }

    77%{
        transform: translate(620px , -100px)
    }

    80%{
        transform: translate(700px , -190px);
    }

    85%{
        transform: translate(800px , 5px);
    }

    90%{
        transform: translate(900px , 0px);
    }

    95%{
        transform: translate(1200px , -55px);
    }

    100%{
        transform: translate(1250px , -70px);
    }
}

*/ 